<ion-header class="ion-no-border">
  <ion-toolbar color="dark" class="custom-toolbar">
    <div class="header-content">
      <ion-icon name="build-outline" class="toolbar-icon"></ion-icon>
      <div class="title-meta">
        <h2>Panel de Tareas</h2>
        <p *ngIf="employee">{{ employee.name }} • Shift: {{ employee.workShift }}</p>
      </div>
    </div>
    <ion-buttons slot="end">
      <ion-button (click)="logout()" class="logout-btn">
        <ion-icon slot="icon-only" name="log-out-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [forceOverscroll]="false">
  <router-outlet></router-outlet>
</ion-content>
